
.head{
    color: red;
    border: 1px;
    display: inline-block;
    text-align: left;
    width: auto;
    position: relative;
    left: -220px;
    top: -150px;
    /* margin-top:-30%; */
    /* margin-left: -30%; */
    border-style: none;
    font-size: 50px;    
}
    
body{
    background:url("bgnet.jpg");
    color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10% 20%;
    box-sizing: 50% 60%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    background-color: red;
}
.regform{
    width: 500px;
    height: fit-content;
    background-color: rgba(0,0,0,0.8);
    padding: 70px;
    margin: 60px 80px;
    margin-top: -200px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 10px solid none;
}
.regform h1{
    color: white;
    margin-top: -30px;
    position: relative;
}
.input{
    margin: 20px;
    width: 100%;
}
.text{
    background: none;
    border: 1px  solid white;
    box-sizing: border-box;
    padding: 20px;
    margin-left: -20px;
}
button{
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}
.input input{
    width: 100%;
    font-size: 1em;
    color: white;
    border-radius: 8px;
}
.checkbox{
    display: inline;
    color: gray;
}
.help{
    display: inline;
    margin-left: 40%;
}
.checkbox,.help{
    line-height: 40px;
}
.sign{
    text-decoration: none;
    color: white;
}
p a{
    color: rgb(56, 56, 221);
    text-decoration: none;
}
